@use '../../../styles/mixins';
@use '../../../styles/shared';
@use '../../../styles/vars' as * ;

.authorization {
    padding: 70px 0 80px;
    display: flex;
    letter-spacing: 0.02em;
}

.title {
    max-width: 800px;
    margin-bottom: 14px;
    @include mixins.font(40px, 48px);
}

.auth {
    margin-left: 14%;
}

.right {
    position: relative;
}

.lock {
    position: absolute;
    top: -55px;
    left: -51px;
}

.form {
    padding: 25px 25px 39px;
    width: 429px;
    display: flex;
	flex-direction: column;
    @include mixins.font(16px, 19px);
    color: #949494;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    button[disabled] {
        cursor: default;
        background: rgba(89, 112, 255, 0.5);
    }
}

.header {
    display: flex;
    column-gap: 15px;
    margin-bottom: 40px;
}

.tab {
    border-bottom: 2px solid #949494;
    flex-grow: 1;
    padding-bottom: 8px;
    text-align: center;
    cursor: pointer;
}

.activeTab {
    border-bottom: 2px solid $cyan;
    color: $cyan;
}

.label {
    margin-bottom: 15px;
}

.input {
    padding-left: 10px;
    border: 1px solid #C7C7C7;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-bottom: 20px;
    height: 43px;
}

.error {
    @extend %error;
    text-align: center;
    margin-top: -14px;
}

.submit {
    margin: 10px 0 15px;
    @include mixins.btn(rgba(89, 112, 255, 1), 16px, 0, $color: #FFFFFF);
    font-weight: 500;
    @include mixins.font(22px, 27px);
}

.submit[disabled=true] {
    cursor: default;
}

.retrieve {
    @extend %font-14-17;
    text-decoration-line: underline;
    color: $blue;
    text-align: center;
    margin-bottom: 30px;
}

.logOn {
    margin-top: 15px;
    display: flex;
    column-gap: 10px;
}

.btn {
    border: 1px solid rgba(89, 112, 255, 0.51);
    border-radius: 3px;
    width: 96px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}